{% extends "template.twig" %}

{% block title %}Be-Pronostic{% endblock %}

{% block title_content %} Matchs du {{ dateDebut }} au {{ dateFin }} {% endblock %}

{% block content %}
    <form class="form-signin" action="{{ app.url_generator.generate('match_du_jour') }}" method="POST">
        <label for="dateDebut" >Veuillez saisir une période de match</label>
        <input type="text" id="dateDebut" name="dateDebut"  placeholder="23.09.2015" required autofocus>
        <input type="text" id="dateFin" name="dateFin"  placeholder="30.09.2015" required >
        <button class="btn btn-xs btn-primary " type="submit">Rechercher</button>
    </form>

    <table class="table table-condensed table table-bordered" >
        <thead>
        <tr >
            <th >Equipe local</th>
            <th >vs</th>
            <th >Equipe Visiteur</th>
            <th >Date de début</th>
            <th >Heure de début</th>
        </tr>
        </thead>

        <tbody>
        {% for match in matches %}

            <tr >
                <td > {{ match.match_localteam_name}}</td>
                <td ><a href="{{ app.url_generator.generate('pronostic') }}?match_id='{{ match.match_id }}'"> <>  </a></td>
                <td >{{ match.match_visitorteam_name}}</td>
                <td >{{ match.match_formatted_date}}</td>
                <td >{{ match.match_time}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

